html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	min-width: 320px;
	font-family: 'Open Sans', sans-serif;
	background: #f3f7fa;
}

img {
	max-width: 100%;
	height: auto;
}
.app {
	padding: 50px 0 0;
}

.app__row {
	display: grid;
	grid-template-columns: 232px 1fr;
	gap: 20px;
}

@media (max-width: 768px) {
	.app__row {
		grid-template-columns: 1fr;
	}
}

.app__body {
	flex-grow: 1;
}

.container {
	width: 100%;
	max-width: 784px;
	margin: 0 auto;
	padding: 0 15px;
}