html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	min-width: 320px;
	font-family: 'Open Sans', sans-serif;
	background: #f3f7fa;
}

img {
	max-width: 100%;
	height: auto;
}

.app__row {
	display: grid;
	grid-template-columns: 232px 1fr;
	gap: 0 20px
}

.app__sidebar {
	border: 1px solid royalblue;
}

.container {
	width: 100%;
	max-width: 784px;
	margin: 0 auto;
	padding: 0 15px;
}